<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>customers</ion-title>
  </ion-toolbar>

  <ion-toolbar color="mycolor">
    <ion-searchbar placeholder="Buscar:" animated (ionChange)="searchCustomer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
   
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
    </ion-refresher>

  <ion-list *ngIf="permission">
    <ion-item *ngFor="let user of searchedUser">
      <ion-label>
        <h2>{{user.name}}</h2>
        <p>{{user.description}}</p>
      </ion-label>
      <ion-avatar slot="start">
        <img alt="{{user.name}}" src="/assets/avatar/{{user.image}}" />
      </ion-avatar>
      
    </ion-item>
   
  </ion-list>

  <ion-label *ngIf="!permission">No tienes los permisos para ver los clientes</ion-label>
</ion-content>
